$fontColor: #000;
$lighterFontColor: #333;
$lightestFontColor: #888;
$bdColor: #eee;
$lighterBdColor: #f6f6f6;
$lightestBdColor: #f0f0f0;
$bgColor: #fff;
$themeColor: #017ACC;
$btnBlueBdColor: #1EA3E3;
$btnBlueBgColor: #1EA3E3;
$priceColor: #f8243a;
$discountLabelColor: #cd2329;
$discountLabelTopColor: #e92f3c;
$discountLabelBottomColor: #ce1920;