@import "./common/reset";
@import "./common/base";
@import "./common/config";

html{
 -webkit-text-size-adjust:none;
 text-size-adjust: none;
 font-size:10px;
}

@media only screen and (min-width:768px) {
 html{
  font-size:20px !important;
 }
}

body{
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: $bgColor;
 color:$fontColor;
 font-size: 1rem;
 @include boxSizing(border-box);
}

a{
 color:$fontColor;
}

.btn{
 display: inline-block;
}

header{
 width: 100%;
 @include setHeightGroup(4.6rem);
 background: $themeColor;
 color:#fff;
 font-size: 1.8rem;
 .btn-back{
  width:4.6rem;
  float:left;
 }
 .title{
  width:100%;
  padding: 0 4.6rem;
  @include setHeightGroup(4.6rem);
 }
}
.box-product-info{
 padding:8px 10px;
}