@import "base";
@import "reset";

$fontColor: #333;
$lighterFontColor: #666;
$lightestFontColor: #999;
$bdColor: #ebebeb;
$bgColor: #f7f7f7;
$themeColor: #007acd #007acd;

body{
 font-size:14px;
 min-width:980px;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 background: #fff;
 color:$fontColor;
}

a{
 color:$fontColor;
 text-decoration: none;
}

.btn {
 cursor:pointer;
}

.icon{
 display: inline-block;
}

header{
 width: 100%;
 line-height:50px;
 background: green;
 position: fixed;
 left:0;
 top:0;
 z-index: 500;
 text-align: center;
 a{
  color:#fff;
  &:hover{
   text-decoration: underline;
  }
 }
}