<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <title>索要发票</title>
  <link rel="stylesheet" type="text/css" href="../release/styles/app.min.css" />
  <script type="text/javascript">
    var globalConfig = {
      context: {
        path: '',
        lang: ''
      },
      userState: {}
    };
    var pageConfig = {
      pageCode: 'invoice'
    };
    var i18n = {
      invoice_1: '您的发票信息已保存，近期会给您寄出。',
      invoice_2: '必须填写',
    };

  </script>
</head>
<body>
<div class="app">

  <section class="app-container" id="invoice-type">
    <header>
      <a href="javascript:;" class="btn btn-back" id="to-referer"></a>
      <div class="title">选择发票类型</div>
    </header>
    <section class="app-main">
      <section class="box-invoice-type">
        <a href="javascript:;" class="item-invoice-type" data-target="normal-invoice">增值税-普通发票<span>(最近一次开票)</span></a>
        <a href="javascript:;" class="item-invoice-type" data-target="special-invoice">增值税-专用发票</a>
      </section>
    </section>
  </section>

  <section class="app-container" style="display: none;" id="normal-invoice">
    <header>
      <a href="javascript:;" class="btn btn-back to-invoice-type"></a>
      <div class="title">增值税-普通发票</div>
    </header>
    <section class="app-main">
      <section class="box-invoice-input">
        <div class="invoice-input">
          <input class="company" name="company" type="text" placeholder="公司名称 / 个人（发票抬头）" value=""/>
        </div>
        <div class="split-line"></div>
        <div class="invoice-input">
          <input class="user" name="user" type="text" placeholder="收件人姓名" value=""/>
        </div>
        <div class="invoice-input">
          <input class="mobile" name="mobile" type="text" placeholder="手机号码" value=""/>
        </div>
        <div class="invoice-input">
          <a class="select-address" id="normal-select-address" data-province="320000" data-city="320900"
             data-area="320922" href="javascript:;" data-referer="normal-invoice" data-placeholder="省市区/县"
             data-origin-text="选择省市区/县">江苏省盐城市滨海县</a>
        </div>
        <div class="invoice-input">
          <input class="address" name="address" type="text" placeholder="详细收货地址" value=""/>
        </div>
      </section>
      <section class="wrapper-btn-submit">
        <a href="javascript:;" class="btn btn-submit" data-submiting="提交中..." data-origin-text="确认提交"
           id="submit-normal-invoice">确认提交</a>
      </section>
    </section>
  </section>

  <section class="app-container" style="display:none;" id="special-invoice">
    <header>
      <a href="javascript:;" class="btn btn-back to-invoice-type"></a>
      <div class="title">增值税-专用发票</div>
    </header>
    <section class="app-main">
      <section class="box-invoice-input">
        <div class="invoice-input">
          <input class="company" name="address" type="text" placeholder="公司名称（发票抬头）" value=""/>
        </div>
        <div class="invoice-input">
          <input class="number" name="number" type="text" placeholder="纳税人识别号" value=""/>
        </div>
        <div class="invoice-input">
          <input class="address" name="address" type="text" placeholder="营业地址" value=""/>
        </div>
        <div class="invoice-input">
          <input class="phone" name="phone" type="text" placeholder="电话" value=""/>
        </div>
        <div class="invoice-input">
          <input class="bank" name="bank" type="text" placeholder="开户行" value=""/>
        </div>
        <div class="invoice-input">
          <input class="account" name="account" type="text" placeholder="开户账号" value=""/>
        </div>
        <div class="split-line"></div>
        <div class="invoice-input">
          <input class="user" name="user" type="text" placeholder="收件人姓名" value=""/>
        </div>
        <div class="invoice-input">
          <input class="mobile" name="mobile" type="text" placeholder="手机号码" value=""/>
        </div>
        <div class="invoice-input">
          <a class="select-address" id="special-select-address" data-province="320000" data-city="320900"
             data-area="320922" href="javascript:;" data-referer="special-invoice" data-placeholder="省市区/县"
             data-origin-text="选择省市区/县">江苏省盐城市滨海县</a>
        </div>
        <div class="invoice-input">
          <input class="address" name="address" type="text" placeholder="详细收货地址" value=""/>
        </div>
      </section>
      <section class="wrapper-btn-submit">
        <a href="javascript:;" class="btn btn-submit" data-submiting="提交中..." data-origin-text="确认提交"
           id="submit-special-invoice">确认提交</a>
      </section>
    </section>
  </section>

  <section class="app-container" style="display: none;" id="province">
    <header>
      <a href="javascript:;" class="btn btn-back" id="to-invoice"></a>
      <div class="title">选择省</div>
    </header>
    <section class="box-address">
      <div class="cur-address"></div>
    </section>
    <section class="app-main app-main-address">
      <div class="loading" id="province-list-loading"><span>加载中...</span></div>
      <section class="box-address-items" id="province-list"></section>
    </section>
  </section>

  <section class="app-container" style="display: none;" id="city">
    <header>
      <a href="javascript:;" class="btn btn-back" id="to-province"></a>
      <div class="title">选择市</div>
    </header>
    <section class="box-address">
      <div class="cur-address"></div>
    </section>
    <section class="app-main app-main-address">
      <div class="loading" id="city-list-loading"><span>加载中...</span></div>
      <section class="box-address-items" id="city-list"></section>
    </section>
  </section>

  <section class="app-container" style="display: none;" id="area">
    <header>
      <a href="javascript:;" class="btn btn-back" id="to-city"></a>
      <div class="title">选择区域</div>
    </header>
    <section class="box-address">
      <div class="cur-address"></div>
    </section>
    <section class="app-main app-main-address">
      <div class="loading" id="area-list-loading"><span>加载中...</span></div>
      <section class="box-address-items" id="area-list"></section>
    </section>
  </section>
</div>

<script type="text/template" id="template-address-item">
  <% data.forEach(function (item) { %>
  <div class="address-item <%= item.className %>" data-value="<%= item.value %>"><%= item.text %></div>
  <% }) %>
</script>

<script type="text/javascript" src="../release/scripts/app.min.js"></script>
<!--<script type="text/javascript" src="../js/zepto-1.2.0.js"></script>-->
<!--<script type="text/javascript" src="../js/ejs-1.0.0.js"></script>-->
<!--<script type="text/javascript" src="../js/buy.js"></script>-->
<!--<script type="text/javascript" src="../js/invoice.js"></script>-->
</body>
</html>